---
const { img, title, price, category, path, id } = Astro.props;
---

<li>
  <article>
    <img src={`/beer-card_images/${img}`} alt={title} />
    <h3><a href={"/products/" + path}>{title}</a></h3>
    <h5>{category}</h5>
    <p>{price},-</p>
    <button class="cta1">Add to basket</button>
  </article>
</li>

<style>
  li {
    display: contents;
  }
  article {
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    background-color: #fff;
    border-radius: 10px;
    padding-block-end: 1rem;
    filter: drop-shadow(5px 5px 5px #eee);
  }

  img {
    object-fit: cover;
    place-self: center;
  }

  article:hover img {
    opacity: 80%;
  }

  button {
    margin-inline: 1rem;
  }

  h3 a {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--second-color);
    text-decoration: none;
  }

  h3 a::after {
    content: "";
    position: absolute;
    inset: 0;
  }

  p {
    text-align: right;
    font-weight: 5s00;
    opacity: 90%;
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightblue; /* Optional: Add a background color */
    border: 2px solid black; /* Optional: Add a border */
  }
</style>
