---
//@ts-nocheck
import ProductCard from "../components/ProductCard.astro";

// Fetch products
const url =
  "https://qxzbnouobeqeoleqrllh.supabase.co/rest/v1/AlefarmBrewingEXAM";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4emJub3VvYmVxZW9sZXFybGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcwNDQ4MTYsImV4cCI6MjA2MjYyMDgxNn0.XW2IwfWGSgwE375yAIMAo0x-89W7Jq6Jn_n7sg6Ummk";

const options = {
  headers: { apikey: key },
};
const data = await fetch(url, options).then((res) => res.json());
---

<section>
  <ul>
    {
      data.map((product) => (
        <ProductCard
          img={product.img}
          title={product.title}
          title2={product.title2}
          price={product.price}
          Old_price={product.Old_price}
          discount_percentage={product.discount_percentage}
          soldout={product.soldout}
          category={product.category}
          category2={product.category2}
          type={product.type}
          path={product.id}
        />
      ))
    }
  </ul>
</section>
<style>
  section {
    margin-right: 4vw;
    margin-left: 4vw;
  }
  ul {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
    list-style-type: none;
  }

  @media screen and (min-width: 800px) {
    section {
      margin-right: 10vw;
      margin-left: 10vw;
    }
    ul {
      gap: 6rem;
    }
  }
</style>
