---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const url =
    "https://qxzbnouobeqeoleqrllh.supabase.co/rest/v1/AlefarmBrewingEXAM";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4emJub3VvYmVxZW9sZXFybGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcwNDQ4MTYsImV4cCI6MjA2MjYyMDgxNn0.XW2IwfWGSgwE375yAIMAo0x-89W7Jq6Jn_n7sg6Ummk";

  const data = await fetch(url, { headers: { apikey: key } }).then((res) =>
    res.json(),
  );

  return data.map((product) => ({
    params: { slug: String(product.id) },
    props: { id: product.id },
  }));
}

const { id } = Astro.props;

const url = `https://qxzbnouobeqeoleqrllh.supabase.co/rest/v1/AlefarmBrewingEXAM?id=eq.${id}`;
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4emJub3VvYmVxZW9sZXFybGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcwNDQ4MTYsImV4cCI6MjA2MjYyMDgxNn0.XW2IwfWGSgwE375yAIMAo0x-89W7Jq6Jn_n7sg6Ummk";

const [product] = await fetch(url, { headers: { apikey: key } }).then((res) =>
  res.json(),
);

const showSoldOut = product.soldout === true;
const showDefault = !product.soldout;
---

<Layout>
  <section>
    <div class="productBackground">
      <a href="../products/products.astro">← tilbage</a>
      <img src={`/beer-card_images/${product.img}`} alt={product.title} />
    </div>
    <article>
      <h4>{product.title}</h4>
      <h5>{product.title2}</h5>
      <h5>{product.type}</h5>
      <p class="discription">{product.description}</p>

      <h6>{product.discount_percentage}</h6>
      <div class="productBox">
        <p class="ingredients"><strong>{product.ingredient}</strong></p>

        <p class="date"><em>{product.date}</em></p>
        <p>
          {product.category}, {product.category2}
        </p>
      </div>
      <div>
        {
          showDefault && (
            <>
              <p class="price">{product.price},-</p>
            </>
          )
        }{
          showSoldOut && (
            <>
              <p class="price">{product.price},-</p>
              <p>{product.Old_price}</p>
              <p>{product.discount_percentage}DKK</p>
            </>
          )
        }

        <button
          class="cta1 add-to-cart"
          data-product={JSON.stringify({
            img: product.img,
            title: product.title,
            title2: product.title2,
            price: product.price,
            Old_price: product.Old_price,
            discount_percentage: product.discount_percentage,
            soldout: product.soldout,
            category: product.category,
            category2: product.category2,
            type: product.type,
            path: product.path,
          })}
        >
          Add to basket
        </button>
      </div>
      ) }
    </article>
  </section>
</Layout>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  article {
    display: grid;
    gap: 1rem;
    place-content: start;
    /* background-color: rgba(255, 251, 244, 1); */
    padding: 1.5rem 1rem;

    grid-row: auto;
  }

  div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: end;
  }

  .price {
    font-size: 2rem;
    font-weight: 600;
    opacity: 80%;
    text-align: right;
  }

  img {
    height: 90vw;
    width: auto;
    margin: 1rem auto 2rem auto;
  }

  a {
    color: var(--main-color);
    margin: 1rem;
    font-size: 3cqw;
    text-transform: lowercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }

  .productBackground {
    background-image: url(../../../public/slug_background.webp);
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr;
  }

  h4 {
    margin: 0vw;
  }

  h5 {
    font-size: 3cqw;
    margin-top: -2rem;
  }

  .discription {
    margin-top: -1rem;
    font-size: 3.5cqw;
  }

  .productBox {
    font-size: 3.5cqw;
    border: 1px solid var(--second-color);
    padding: 1rem;
    border-radius: 0.1rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .price {
  }

  .add-to-cart {
  }
</style>
